<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIdentifierPrefix</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SKI 앱스토어</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>skimp.member.store</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>SKIMemberStore</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>SKMemberStore-SSM</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ExStatusBarIOS6Style</key>
	<true/>
	<key>ExStatusBarIOS7Style</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>skssmagent-ios8</string>
		<string>SKIDemoApp</string>
		<string>SKIMPI001M</string>
		<string>SKIMPI002M</string>
		<string>SKIMPI003M</string>
		<string>SKIMPI004M</string>
		<string>SKIMPI005M</string>
		<string>SKIMPI006M</string>
		<string>SKIMPI007M</string>
		<string>SKIMPI008M</string>
		<string>SKIMPI009M</string>
		<string>SKIMPI010M</string>
		<string>SKIMPI011M</string>
		<string>SKIMPI012M</string>
		<string>SKIMPI013M</string>
		<string>SKIMPI014M</string>
		<string>SKIMPI015M</string>
		<string>SKIMPI016M</string>
		<string>SKIMPI017M</string>
		<string>SKIMPI018M</string>
		<string>SKIMPI019M</string>
		<string>SKIMPI020M</string>
		<string>SKIMPI021M</string>
		<string>SKIMPI022M</string>
		<string>SKIMPI023M</string>
		<string>SKIMPI024M</string>
		<string>SKIMPI025M</string>
		<string>SKIMPI026M</string>
		<string>SKIMPI027M</string>
		<string>SKIMPI028M</string>
		<string>SKIMPI029M</string>
		<string>SKIMPI030M</string>
		<string>SKIMPI031M</string>
		<string>SKIMPI032M</string>
		<string>SKIMPI033M</string>
		<string>SKIMPI034M</string>
		<string>SKIMPI035M</string>
		<string>SKIMPI036M</string>
		<string>SKIMPI037M</string>
		<string>SKIMPI038M</string>
		<string>SKIMPI039M</string>
		<string>SKIMPI040M</string>
		<string>SKIMPI041M</string>
		<string>SKIMPI042M</string>
		<string>SKIMPI043M</string>
		<string>SKIMPI044M</string>
		<string>SKIMPI045M</string>
		<string>SKIMPI046M</string>
		<string>SKIMPI047M</string>
		<string>SKIMPI048M</string>
		<string>SKIMPI049M</string>
		<string>SKIMPI050M</string>
		<string>SKIMPI051M</string>
		<string>SKIMPI052M</string>
		<string>SKIMPI053M</string>
		<string>SKIMPI054M</string>
		<string>SKIMPI055M</string>
		<string>SKIMPI056M</string>
		<string>SKIMPI057M</string>
		<string>SKIMPI058M</string>
		<string>SKIMPI059M</string>
		<string>SKIMPI060M</string>
		<string>SKIMPI061M</string>
		<string>SKIMPI062M</string>
		<string>SKIMPI063M</string>
		<string>SKIMPI064M</string>
		<string>SKIMPI065M</string>
		<string>SKIMPI066M</string>
		<string>SKIMPI067M</string>
		<string>SKIMPI068M</string>
		<string>SKIMPI069M</string>
		<string>SKIMPI070M</string>
		<string>SKIMPI071M</string>
		<string>SKIMPI072M</string>
		<string>SKIMPI073M</string>
		<string>SKIMPI074M</string>
		<string>SKIMPI075M</string>
		<string>SKIMPI076M</string>
		<string>SKIMPI077M</string>
		<string>SKIMPI078M</string>
		<string>SKIMPI079M</string>
		<string>SKIMPI080M</string>
		<string>SKIMPI081M</string>
		<string>SKIMPI082M</string>
		<string>SKIMPI083M</string>
		<string>SKIMPI084M</string>
		<string>SKIMPI085M</string>
		<string>SKIMPI086M</string>
		<string>SKIMPI087M</string>
		<string>SKIMPI088M</string>
		<string>SKIMPI089M</string>
		<string>SKIMPI090M</string>
		<string>SKIMPI091M</string>
		<string>SKIMPI092M</string>
		<string>SKIMPI093M</string>
		<string>SKIMPI094M</string>
		<string>SKIMPI095M</string>
		<string>SKIMPI096M</string>
		<string>SKIMPI097M</string>
		<string>SKIMPI098M</string>
		<string>SKIMPI099M</string>
		<string>MDS</string>
		<string>SKIDemoApp</string>
		<string>SKIMPI001P</string>
		<string>SKIMPI002P</string>
		<string>SKIMPI003P</string>
		<string>SKIMPI004P</string>
		<string>SKIMPI005P</string>
		<string>SKIMPI006P</string>
		<string>SKIMPI007P</string>
		<string>SKIMPI008P</string>
		<string>SKIMPI009P</string>
		<string>SKIMPI010P</string>
		<string>SKIMPI011P</string>
		<string>SKIMPI012P</string>
		<string>SKIMPI013P</string>
		<string>SKIMPI014P</string>
		<string>SKIMPI015P</string>
		<string>SKIMPI016P</string>
		<string>SKIMPI017P</string>
		<string>SKIMPI018P</string>
		<string>SKIMPI019P</string>
		<string>SKIMPI020P</string>
		<string>SKIMPI021P</string>
		<string>SKIMPI022P</string>
		<string>SKIMPI023P</string>
		<string>SKIMPI024P</string>
		<string>SKIMPI025P</string>
		<string>SKIMPI026P</string>
		<string>SKIMPI027P</string>
		<string>SKIMPI028P</string>
		<string>SKIMPI029P</string>
		<string>SKIMPI030P</string>
		<string>SKIMPI031P</string>
		<string>SKIMPI032P</string>
		<string>SKIMPI033P</string>
		<string>SKIMPI034P</string>
		<string>SKIMPI035P</string>
		<string>SKIMPI036P</string>
		<string>SKIMPI037P</string>
		<string>SKIMPI038P</string>
		<string>SKIMPI039P</string>
		<string>SKIMPI040P</string>
		<string>SKIMPI041P</string>
		<string>SKIMPI042P</string>
		<string>SKIMPI043P</string>
		<string>SKIMPI044P</string>
		<string>SKIMPI045P</string>
		<string>SKIMPI046P</string>
		<string>SKIMPI047P</string>
		<string>SKIMPI048P</string>
		<string>SKIMPI049P</string>
		<string>SKIMPI050P</string>
		<string>SKIMPI051P</string>
		<string>SKIMPI052P</string>
		<string>SKIMPI053P</string>
		<string>SKIMPI054P</string>
		<string>SKIMPI055P</string>
		<string>SKIMPI056P</string>
		<string>SKIMPI057P</string>
		<string>SKIMPI058P</string>
		<string>SKIMPI059P</string>
		<string>SKIMPI060P</string>
		<string>SKIMPI061P</string>
		<string>SKIMPI062P</string>
		<string>SKIMPI063P</string>
		<string>SKIMPI064P</string>
		<string>SKIMPI065P</string>
		<string>SKIMPI066P</string>
		<string>SKIMPI067P</string>
		<string>SKIMPI068P</string>
		<string>SKIMPI069P</string>
		<string>SKIMPI070P</string>
		<string>SKIMPI071P</string>
		<string>SKIMPI072P</string>
		<string>SKIMPI073P</string>
		<string>SKIMPI074P</string>
		<string>SKIMPI075P</string>
		<string>SKIMPI076P</string>
		<string>SKIMPI077P</string>
		<string>SKIMPI078P</string>
		<string>SKIMPI079P</string>
		<string>SKIMPI080P</string>
		<string>SKIMPI081P</string>
		<string>SKIMPI082P</string>
		<string>SKIMPI083P</string>
		<string>SKIMPI084P</string>
		<string>SKIMPI085P</string>
		<string>SKIMPI086P</string>
		<string>SKIMPI087P</string>
		<string>SKIMPI088P</string>
		<string>SKIMPI089P</string>
		<string>SKIMPI090P</string>
		<string>SKIMPI091P</string>
		<string>SKIMPI092P</string>
		<string>SKIMPI093P</string>
		<string>SKIMPI094P</string>
		<string>SKIMPI095P</string>
		<string>SKIMPI096P</string>
		<string>SKIMPI097P</string>
		<string>SKIMPI098P</string>
		<string>SKIMPI099P</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSFaceIDUsageDescription</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
